# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
data/

# Django
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal
media/
static/

# Virtual Environment
venv/
ENV/
env/
all_nginx/
.env
.env.prod

# IDE
.idea/
.vscode/
*.swp
*.swo
.DS_Store
*.sublime-workspace
*.sublime-project

# Database
*.db
*.sqlite3
*.sqlite
*.sql

# Backup files
*.bak
*.tmp
*.temp

# Logs
logs/
*.log

# Local development settings
.env.local
.env.development.local
.env.test.local
.env.production.local

# Coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
coverage.xml
*.cover

# Celery
celerybeat-schedule
celerybeat.pid

# Unit test / coverage reports
.pytest_cache/
nosetests.xml
coverage.xml

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal
media/
staticfiles/

# If you're using MySQL/PostgreSQL
*.dump

# macOS
.DS_Store
.AppleDouble
.LSOverride
._*

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent 
.cursorrules
env/

# Nginx
nginx/*.conf
!nginx/*.conf.template

# SSL certificates
*.pem
*.key
*.crt